imports:
    - 'tests/Behat/Resources/config/suites.yaml'

default:
    extensions:
        FriendsOfBehat\VariadicExtension: ~
        FriendsOfBehat\SymfonyExtension:
            kernel:
                class: 'AulaSoftwareLibre\Iam\Infrastructure\Kernel'
                path: 'src/Infrastructure/Kernel.php'
                debug: true
    formatters:
        progress: ~
